.search-box {
    text-align: center;
    margin-top: 10%;
    padding: 15px;
    width: 100%;
    height: 100%:
}

.search-box-logo {
    padding: 15px;
}

.form-search-box {
    padding:15px;
}

footer.search-page {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
